*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(mounten.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1.5px solid black;
    border-radius: 10px;
    margin: 200px 0px 0px 500px;
    box-shadow: 0px 0px 10px #01ff2b;
}
.time{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 200px;
}
.start-btn{
    background-color: rgb(49, 220, 15);
    color: rgb(255, 255, 255);
    height: 25px;
    width: 60px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.stop-btn{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    height: 25px;
    width: 60px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.reset-btn{
    background-color: rgb(255, 136, 0);
    color: rgb(255, 255, 255);
    height: 25px;
    width: 60px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.reset-btn:hover{
    box-shadow: 0px 0px 4px #ffffff;
}
.stop-btn:hover{
    box-shadow: 0px 0px 4px #fff;
}
.start-btn:hover{
    box-shadow: 0px 0px 4px #fff;
}